/.bash_logout
/.bash_history
/.bashrc
/.cache
/.config
/.dotnet
/.init_done
/.ipynb_checkpoints
/.ipython
/.jupyter
/.local
/.profile
/.vscode-server
/.wget-hsts
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
.env.*
.DS_Store
.idea/
.vscode/
/.lesshst
.vscode-server/
/.vscode-server
.history/
.gitconfig

# Ignore everything in notebooks/data except the directory and README
notebooks/data/*
!notebooks/data/README.md